$color-basic-black  : #000000;
$color-basic-white  : #ffffff;
$color-brand-black  : #262626;
$color-brand-dgray  : #959595;
$color-brand-lgray  : #d6d6d6;
$color-brand-dpink  : #eca8b5;
$color-brand-lpink  : #f5e3e7;


$font-weight-normal : normal;
$font-weight-medium : 500;
$font-weight-bold   : bold;
